<p> In the development phase, the participant will generate a JSON file for submission, which should contain the predicted semantic label for each convex shape in the development dataset.
<p>The generated JSON file should adhere to the following dictionary format, where each key in the dictionary represents the ASIN of one product, and the value represents the predicted labels of convex shapes.
</p>
<pre>
<code>
{
  "B075X33T21": [0, 1, 0, 2, 3],
  "B084DCJKSL": [0, 0, 0, 3, 3],
}
</code>
</pre>