<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h4>News!!!</h4>
<ul>
  <li>08/03/2023: The baseline codes are released <a href="https://github.com/3dv-in-ecommerce/challenge_baselines">here</a>.</li>
  <li>08/03/2023: The development submission results will be only shown on the "dev phase, dev split" leaderboard, please ignore the "eval phase, dev split" leaderboard.</li>
  <li>08/15/2023: The evaluation dataset is released on the <a href="https://amazon-berkeley-objects.s3.amazonaws.com/archives/abo-part-labels.tar">ABO website</a>.</li>
  <li>08/20/2023: The data processing codes are released <a href="https://github.com/3dv-in-ecommerce/challenge_baselines">here</a>.</li>
  <li>09/08/2023: Policy for Determining the Winner: Participants will be ranked based on both accuracy and IoU separately for evaluation dataset. The overall winner will be decided by averaging the two ranks. In the event of the same score in average rank, the participant with the higher IoU rank will be prioritized.</li>
  <li>09/10/2023: The submission deadline is updated to 9/15 23:59:59 PST.</li>
  <li>09/16/2023: We will notify winners on 9/18 by email. The winners will be asked to prepare a 5 mins oral report. We also recommand the winners to release to their codes on github.</li>
</ul>

<h4>Introduction</h4>
<p>Welcome to the ICCV 3DVeComm Workshop Challenge! This challenge focuses on the recently introduced Amazon-Berkeley-Object (ABO) dataset, which consists of high-quality, standardized 3D models of real products available for purchase online. These models have been skillfully created by artists and are composed of build-aware connected components that represent various shape properties such as texture, motion, function, interaction, and construction.</p>
<p>The primary objective of the workshop challenge is to assign fine-grained semantic labels (e.g., leg and arm, as defined by PartNet[5]) to the connected components in the ABO dataset. The 3D models with build-aware connected components are represented as a set of convex shapes, as illustrated in the figure below.</p>
<img src="https://drive.google.com/uc?export=view&id=14QJO3yDNR7FjC7cMhPk88BJjHGAGZsUh" width="600px" height="220px">
<p>Participants in this challenge will be tasked with predicting the semantic labels for each convex shape. This exciting opportunity allows researchers, students, and data scientists to apply their expertise in computer vision and machine learning to address real-world e-commerce problems.</p>
<p>The challenge is part of the <a href="https://3dv-in-ecommerce.github.io/">3DVeComm workshop</a>.</p>
<h4>Dataset</h4>
<p>The dataset is divided into training and validation sets for participants to train and validate their models. Each 3D convex shape comes with a ground truth semantic label. You can download the dataset from <a href="https://amazon-berkeley-objects.s3.amazonaws.com/archives/abo-part-labels.tar">the ABO website</a>.
<p>The provided data file includes:</p>
<ul>
  <li>ASIN: the id of each product, it is set as the folder name. </li>
  <li>cc: connected components meshes</li>
  <li>convex: decomposed convex shapes meshes</li>
  <li>label.json: semantic labels for each convex shape</li>
  <li>relation.json: each convex shapes is decomposed from which component</li>
</ul>
The relation.json records which component each convex shapes is decomposed from. Since the convex shapes are decomposed from the connected components, we encourage participants to use this information to improve the prediction results.

The datasets include five categories and the number of labels in each category is the following:

<table border="1" style="text-align:center;">
  <tr>
      <th> </th>
      <th>Bed</th>
      <th>Chair</th>
      <th>Lamp</th>
      <th>Storage_furniture</th>
      <th>Table</th>
  </tr>
  <tr>
      <td>Lable count</td>
      <td>14</td>
      <td>29</td>
      <td>27</td>
      <td>18</td>
      <td>41</td>
  </tr>
</table>


<h4>Development</h4>
<p>The development dataset has the same structure as the training dataset, but without the semantic labels:</p>
<ul>
  <li>ASIN: the id of each product, it is set as the folder name. </li>
  <li>cc: connected components meshes</li>
  <li>convex: decomposed convex shapes meshes</li>
  <li>relation.json: the mapping relation between connected components and convex shape</li>
</ul>

<h4>Evaluation</h4>
<p>The evaluation dataset has the same structure as the development dataset.</p>

<h4>License</h4>
<p>The dataset (all annotations) is released under the <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a> license.</p>


<h4>Timeline</h4>
The time below is PST.
<ul>
  <li>06/01/2023: Training Data Release</li>
  <li>06/01/2023: Development Data Release</li>
  <li>08/03/2023: Baseline Release on LeaderBoard</li>
  <li>08/03/2023: Baseline Training Code Release</li>
  <li>08/15/2023: Evaluation Data Release</li>
  <li>08/15/2023: Evaluation Submission Open</li>
  <li>09/15/2023: Evaluation Result Submission Deadline</li>
  <li>09/18/2023: Evaluation Result Release</li>
</ul>
<h4>Organizers</h4>
<p>
Fenggen Yu (fenggeny@sfu.ca) <br>
Xu Zhang (xzhnamz@amazon.com) <br>
Yiming Qian (qym.ustc@gmail.com) <br>
</p>
</body>
</html>